<div class="text-sm-center">
  <h1 class="display-3">Soulcast</h1>
  <%= image_tag "kzProof.png", alt:"kv proof", class:"img-rounded", style:"width: 40%;" %>
  <p class="lead">Proof that Kevin Zhang is a part of Soulcast.ml.</p>
  <p><a class="btn btn-lg btn-primary" href="https://itunes.apple.com/us/app/soulcast/id1163561780" role="button"><%= image_tag "Download_on_the_App_Store_JP_135x40.svg", alt:"iOS download icon" %></a></p>

  <footer class="footer">
    <p>&copy; Team Soulcast</p>
    <p><%= link_to 'EULA', static_pages_eula_path %></p>
  </footer>
</div>

