// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";
body
{
  background-color: #E6E6FA;
}

p:nth-child(4) > a:nth-child(2)
{
  width: 18%;
  height: 40%;
}
.android_img
{
  height: 110%;
  width: 110%;
}